<launch>

	<!-- Launch gazebo with the specified world loaded and paused-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- You can change the world name for your own -->
		<arg name="world_name" value="$(find robobo)/worlds/pruebas.world"/>
		<!--<arg name="physics" value="bullet" /> -->
		<arg name="paused" value="false"/>
	</include>

	<!-- You can spawn your own model here -->
	<node name="robobo" pkg="gazebo_ros" type="spawn_model" args="-file $(find robobo)/models/robobo/model.sdf -sdf -x 0.0 -y -0.0 -z 0.0 -Y 3.14159 -model robobo" />

	<!-- You can spawn another model here -->
<!--	<node name="robobo1" pkg="gazebo_ros" type="spawn_model" args="-file $(find robobo)/models/robobo/robobo.sdf -sdf -x 1.0 -y -0.0 -z 0.0 -Y 0.0 -model robobo1" />
-->

	<!-- Box for calibrations o 0 seria x=-0.135 y=0.035
	<node name="box" pkg="gazebo_ros" type="spawn_model" args="-file $(find robobo)/models/box/box.sdf -sdf -x -0.05 -y -0.12625 -z 0.0 -Y 0.0 -model box" />-->

	<!--Spawn the test track -->
<!--		<node name="test_track" pkg="gazebo_ros" type="spawn_model" args="-file $(find robobo)/models/test_track/test_track.sdf -sdf -x 0.0 -y -0.0 -z 0.0 -Y 0 -model test_track" />
-->
	<!--Spawn the green ball in the test track -->
<!--		<node name="green_ball" pkg="gazebo_ros" type="spawn_model" args="-file $(find robobo)/models/green_ball/green_ball.sdf -sdf -x 0.3 -y -0.25 -z 0.0 -Y 0 -model green ball" />
	-->
	<arg name="robobo_name" default="robobo"/>
	<node name="robobo_services_server" pkg="robobo" type="robobo_services_server" args="-n $(arg robobo_name)"/>
</launch>

